{{>licenseInfo}}
#pragma once

#include "Serialization/JsonWriter.h"
#include "Dom/JsonObject.h"

{{#cppNamespaceDeclarations}}
namespace {{this}}
{
{{/cppNamespaceDeclarations}}

typedef TSharedRef<TJsonWriter<>> JsonWriter;

class {{dllapi}} Model
{
public:
	virtual ~Model() {}
	virtual void WriteJson(JsonWriter& Writer) const = 0;
	virtual bool FromJson(const TSharedPtr<FJsonValue>& JsonValue) = 0;
};

{{#cppNamespaceDeclarations}}
}
{{/cppNamespaceDeclarations}}
