{{>licenseInfo}}
#include "{{classname}}.h"

#include "{{classname}}Operations.h"
#include "{{unrealModuleName}}Module.h"

#include "Serialization/JsonSerializer.h"

{{#cppNamespaceDeclarations}}
namespace {{this}}
{
{{/cppNamespaceDeclarations}}

bool {{classname}}::ProcessEvent(const FString& InEventString) const
{
	return false; // TODO parse into json
}

bool {{classname}}::ProcessEvent(const TSharedRef<FJsonObject>& InEventJson) const
{
	DW_ASSERT(a_eventJson);

	// TODO: implement this part !
}

{{#operations}}
{{#operation}}
void {{classname}}::PublishEvent(const {{operationIdCamelCase}}& Event) const
{
	FString JsonBody;
	JsonWriter Writer = TJsonWriterFactory<>::Create(&JsonBody);

	WriteJsonValue(Writer, Event);
	Writer->Close();


	PublishEvent(JsonBody);
}

{{/operation}}
{{/operations}}
{{#cppNamespaceDeclarations}}
}
{{/cppNamespaceDeclarations}}
